header{
    text-align: left;
    background-color:#4da0ff ;
    height: 190px;
}

header.img{
    max-width: 400px;
    max-height: 100px;
    object-fit: contain;
}

table{
    column-width: 30%;
}

th{
    background-color: #21a9e6;
   color: white;
}

tr:nth-child(even) { 
    background-color: #b1e5f2; 
} 