

header{
    text-align: left;
    background-image: url("../img/pattern.png");
    background-size: 30%;
    background-color:#4da0ff ;
    height: 100px;
    width: 100%;
}

main{
    padding-top: 35px;
    padding-bottom: 35px;
}

h1{
    font-size: 64px;
}

h4{
    color: grey;
    margin: 0px;
}

p{
    margin-left :0;
    margin-top: 5px;
    margin-bottom: 5px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #21a9e6;
    color: white;
}

tr:nth-child(even) { 
    background-color: #b1e5f2; 
} 

.Logo{
    width: 200px;
    padding-top: 50px;
}

.pic-info{
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 8px;
}

.articolo-consigliato{
  position: relative;
  max-height: 8%;
  display: flex;
}

.articolo-consigliato img{
    height: fit-content;
    width: fit-content;
    padding-top:5px ;
}

.articolo-consigliato h3{
    color: white;
    position: absolute;
    top: 10px;
    left: 15px;
    margin: 0;
    font-size: x-large;
}